*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}


.navegacao{
    background: rgb(21, 79, 0);
    background: linear-gradient(90deg, #095256 20%, #697A21, #AEDCC0 100%);
} 

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    margin: 0 auto;
    list-style: none;

  }
  
.links li {
    width: 125px;
    height: 50px;
    transition: background-position-x 0.9s linear;
    text-align: center;
    align-content: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
  
.links li a {
      font-size: 25px;
      color: #ffffff;
      text-decoration: none;
    }
  

.link-sobre{
    margin-left: 30px;
    margin-right: 30px;
}

.secao1{
    height: 100vh;
    
}

.titulo{
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    padding: 20px;
}


.inicio{
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;

}

.texto{
    margin-top: 10px;
    font-size: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: justify;
}

.minha-img{
    margin-right: 20px;
    width: 25%;
    height: 5%;
}

.icon-linkedin{
    font-size: 50px;
}

.sobre{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    padding: 20px;
    background: rgb(21, 79, 0);
    background: linear-gradient(90deg, #095256 20%, #697A21, #AEDCC0 100%);
}

.secao2{
    height: 100vh;
    
}

.texto-sobre{
    font-size: 25px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    text-align: justify;
    color: rgb(0, 0, 0);
}

.secao3{
    height: 100vh;
    
}

.projetos-titulo{
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 20px;
    background: rgb(21, 79, 0);
    background: linear-gradient(90deg, #095256 20%, #697A21, #AEDCC0 100%);
}

.projetos{
    display: flex;
    padding: 40px;

}
.projeto1{
    border-radius: 20px;
    text-align: justify;
    height: 500px;
    width: 1500px;
    margin-right: 30px;
    background:#A8D4B3;
    color: #000000;
}

.projeto1 h2{
    text-align: center;
    margin-top: 5px;
}
.projeto1 p{
    padding: 20px;
}

.projeto1 img{
    width: 30%;
    margin: 0 34% 0 34%;
}

.projeto2{
    border-radius: 20px;
    text-align: justify;
    height: 500px;
    width: 1500px;
    margin-right: 30px;
    background:#A8D4B3;
    color: #000000;

}
.projeto2 h2{
    text-align: center;
    margin-top: 5px;
}
.projeto2 p{
    padding: 20px;
}

.projeto2 img{
    width: 30%;
    margin: 0 34% 0 34%;
}